<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset=utf-8 />
		<style>
			body{
				padding:20px;
			}
			.search{
				margin-left:10px;
			}
		</style>
		<link rel="stylesheet" href="bootstrap-3.1.1-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
		<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="adgroupsjs.js"></script>
		<title>Home Page</title>
	</head>
	<body ng-controller="ctrl">
		<h2> Adwords </h2>
		<div style="overflow:hidden;margin-bottom:20px;">
			<div style="float:left">
				<button class="btn btn-primary" ng-click="showHome()">
				  Home
				</button>
			</div>
			<div style="margin-left:15px;float:left;">
				<button class="btn btn-primary" ng-click="showCreateAdGroup()">
				  Create Ad Group
				</button>
			</div>
			<div style="margin-left:15px;float:left;">
				<button class="btn btn-primary" ng-click="showAssignAdGroup()">
					Assign AdGroup to State
				</button>
			</div>
		</div>
		
		<!--Home-->
		<div id="adGroupDisplay">
			<span class="search input-prepend" ng-class="{'input-append':search}">
				<span class="add-on">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input type="text" class="span2"  placeholder="Search" ng-model="search">
			</span>
			
			<table  class="table table-striped">
				<tr ng-repeat="adgroup in adgroups | filter : search"  ng-class="{'muted':isTemp($index)}">
					<td>{{$index+1}}</td>
					<td>{{adgroup.name}}</td>
					<td>
						<button class="btn btn-danger btn-mini" ng-click="deleteAdGroup(adgroup)">
							<i class="glyphicon glyphicon-trash glyphicon-white"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<!-- Create Ad Group -->
		<div id="createAdGroup" style="display:none;">
			<h4>Create AdGroup</h4>
			Provide a name for the Adgroup
			Search and Select multiple keywords.
			Search and Select multiple ads. 
			You will see your selection of keywords and ads below the respective tables.
			If a keyword or ad is selected the table will show a selected button instead of plus button
			Click Save to save the data.
			Keyword will be removed from keywords for next creation.
			<br/>
			<br/>
			AdGroup Name : <input type="text" class="span2"  placeholder="Ad Group Name" ng-model="addName">
				
			<div class="search input-prepend" ng-class="{'input-append':search}" style="margin-top:20px;">
				Search for Keyword 
				<span class="add-on">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input type="text" class="span2"  placeholder="Keyword Search" ng-model="keywordsearch">
			</div>
			<div style="height:200px;overflow-y:auto;border:1px solid #AAA;">
				<table  class="table table-striped">
					<tr ng-repeat="keyword in keywords | filter : keywordsearch">
						<td>{{keyword.name}}</td>
						<td>
							<input type="checkbox" ng-model="keyword.selected">
							<!--<button class="btn btn-danger btn-mini" ng-click="addKeyword(keyword)" ng-show="!{{keyword.selected}}">
								<i class="glyphicon glyphicon-plus glyphicon-white"></i>
							</button>
							
							<button class="btn btn-danger btn-mini" ng-click="removeKeyword(keyword)" ng-show="{{keyword.selected}}">
								<i class="glyphicon glyphicon-ok glyphicon-white"></i>
							</button>-->
						</td>
					</tr>
				</table>
			</div>
			Selected Keywords: <span ng-repeat = "keyword in keywords| filter : {'selected':true}">{{keyword.name}},</span>
						
			<div class="search input-prepend" ng-class="{'input-append':search}" style="margin-top:20px;">
				Search for Ad
				<span class="add-on">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input type="text" class="span2"  placeholder="Ad Search" ng-model="adsearch">
			</div>
			<div style="height:200px;overflow-y:auto;border:1px solid #AAA;margin-bottom:20px;">
				<table  class="table table-striped">
					<tr ng-repeat="ad in ads | filter : adsearch">
						<td>{{ad.headline}}</td>
						<td>{{ad.url}}</td>
						<td>
							<input type="checkbox" ng-model="ad.selected">
							<!--<button class="btn btn-danger btn-mini" ng-click="addAd(ad)" ng-show="!{{ad.selected}}">
								<i class="glyphicon glyphicon-plus glyphicon-white"></i>
							</button>
							
							<button class="btn btn-danger btn-mini" ng-click="removeAd(ad)" ng-show="{{ad.selected}}">
								<i class="glyphicon glyphicon-ok glyphicon-white"></i>
							</button>-->
						</td>
					</tr>
				</table>
			</div>
			Selected Ads: <span ng-repeat = "ad in ads| filter : {'selected':true}">{{ad.headline}},</span>
			
			<br/>
			<br/>
			<button class="btn btn-primary" ng-click="saveCreateAdGroup()">
				Create Ad Group
			</button>
		</div>
		<!-- Assign Ad Group -->
		<div id="assignAdGroup" style="display:none;">
			<h4>Assign AdGroup to States</h4>
			Select multiple states. 
			Select all adgroups that you want to assign to these states.
			you will see the states selected in the area below.
			you will see the adgroups selected in the area below.
			if a state or adgroup is selected the table will show a selected button instead of plus button
			Click Save to save the data
			<br/>
			<div class="search input-prepend" ng-class="{'input-append':search}" style="margin-top:20px;">
				Search for State
				<span class="add-on">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input type="text" class="span2"  placeholder="State Search" ng-model="statesearch">
			</div>
			<div style="height:200px;overflow-y:auto;border:1px solid #AAA">
				<table  class="table table-striped">
					<tr ng-repeat="state in states | filter : statesearch">
						<td>{{state.name}}</td>
						<td>
							<input type="checkbox" ng-model="state.selected">
							<!--<button class="btn btn-danger btn-mini" ng-click="addState(state)" ng-show="!{{state.selected}}">
								<i class="glyphicon glyphicon-plus glyphicon-white"></i>
							</button>
							
							<button class="btn btn-danger btn-mini" ng-click="removeState(state)" ng-show="{{state.selected}}">
								<i class="glyphicon glyphicon-ok glyphicon-white"></i>
							</button>-->
						</td>
					</tr>
				</table>
			</div>
			Selected States: <span ng-repeat = "state in states| filter : {'selected':true}">{{state.name}},</span>
			
			<div class="search input-prepend" ng-class="{'input-append':search}" style="margin-top:20px;">
				Search for AdGroup
				<span class="add-on">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input type="text" class="span2"  placeholder="Ad Search" ng-model="adgsearch">
			</div>
			<div style="height:200px;overflow-y:auto;border:1px solid #AAA;margin-bottom:20px;">
				<table  class="table table-striped">
					<tr ng-repeat="adgroup in adgroups | filter : adgsearch">
						<td>{{adgroup.name}}</td>
						<td>
							<input type="checkbox" ng-model="adgroup.selected">
							<!--<button class="btn btn-danger btn-mini" ng-click="addAdGroup(adgroup)" ng-show="!{{adgroup.selected}}">
								<i class="glyphicon glyphicon-plus glyphicon-white"></i>
							</button>
							
							<button class="btn btn-danger btn-mini" ng-click="removeAdGroup(adgroup)" ng-show="{{adgroup.selected}}">
								<i class="glyphicon glyphicon-ok glyphicon-white"></i>
							</button>-->
						</td>
					</tr>
				</table>
			</div>
			Selected Ad Groups: <span ng-repeat = "adgroup in adgroups| filter : {'selected':true}">{{adgroup.name}},</span>
			
			<br/>
			<br/>
			<button class="btn btn-primary" ng-click="saveAssignAdGroup()">
				Save State and Ad Group Assignment
			</button>
		</div>
	</body>
</html>